<html>
<head>
    <title>Chat Java</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h2>Chat Java</h2>

<div id="chat"></div>

<div class="input-area">
    <input id="mensaje" type="text" placeholder="Escribe tu mensaje">
    <button onclick="enviar()">Enviar</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script src="/script.js"></script>

</body>
</html>